body{
    margin: 0px;
}

.containner{
    background-color: black;
    width: 100%;
    height: 750px;
}

.faces{
    background-image: url(/img/faces.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.btn{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 60%;
    left: 33%;
    width: 35%;
    height: 30%;
}

.butt{
    width: 100%;
    height: 100%;
}